.topnav {
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3a6ea7;

    .img {
        padding-top: 2px;
        padding-bottom: 2px;
        &:hover {
            cursor: url("../../images/airplane.png"), auto;
        }
    }

    .onlyImg {
        padding-top: 2px;
        padding-bottom: 2px;
        position: relative;
        left: -300px;
        &:hover {
            cursor: url("../../images/airplane.png"), auto;
        }
    }

    .activity {
        color: white;
        font-size: 22px;
        text-decoration: none;
    }
}

.topnav {
    .a {
        display: flex;
        height: 50px;
        justify-content: center;
        text-align: center;
    }

    .add {
        float: left;
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    input {
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        font-size: 15px;
        border-radius: 20px;
        box-shadow: 10px 10px 5px -4px rgba(36, 36, 36, 0.81);
    }

    .search {
        .submit {
            color: grey;
            position: relative;
            top: 2px;
            left: -23px;
            margin: 0 auto;
        }
    }
}

.error {
    color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .topnav {
        display: flex;
        justify-content: space-around;
        .activity {
            font-size: medium;
        }

        .img {
            width: 50px;
        }

        .onlyImg {
            width: 50px;
            position: relative;
            left: -110px;
        }

        input {
            font-size: small;
            width: 100px;
            height: 25px;
        }
    }
}

@media screen and (min-width: 700px) and (max-width:1500px){
    .onlyImg {
        position: relative;
        left: -300px;
    }
}
