body {
  margin: 0;
  color: white;
  background-image: url("../src/images/WorldMap.svg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100% !important;
}

select {
  background-color: #34a57f;
  color: white;
  border-style: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* button {
  background-color: #585454;
  color: white;
  border-style: none;
  border-radius: 5%;
  cursor: pointer;
}

button:hover {
  background-color: #b4acac;
  color: #222222;
} */

html {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
