@import "./sass/variables.scss";

body {
  color: white;
  background-color: #7bc2e4;
  background-image: linear-gradient(0deg, #7bc2e4 0%, #3a6ea7 84%);
  background-repeat: no-repeat;
  font-family: "Signika-Bold", sans-serif;
}

select {
  background-color: #34a57f;
  color: white;
  border-style: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

@font-face {
  font-family: "Signika-Bold";
  src: url("./fonts/Signika-Bold.ttf") format("TrueType");
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $darkBlue;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 20px;
}
