.paginado {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color .3s;
}

.paginado a{
    background-color: #222222;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.paginado a:hover{
    background-color: white;
    color: #222222;
}
