.column {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-column-gap: 20px;
    justify-content: center;
}

.card {
    background: rgba(102, 105, 102, 0.3);
    width: 100%;
    height: 300px;
    text-align: center;
    cursor: pointer;
    color: white;
    margin: 2%;
    border-radius: 3%;
}

.card img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100px;
    width: 150px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.178);
}

.card a {
    padding: 1%;
    text-decoration: none;
    color: white;
}

.title {
    font-size: 25px;
}

.continent {
    font-size: 17px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.filter {
    margin-right: 2%;
}
