.container {

    img {
        background-color: aqua;
        padding-top: 20px;
        padding-bottom: 2px;
        &:hover {
            cursor: url("../../images/airplane.png"), auto;
        }
    }
    
}
