.contenedor {
    display: inline-block;
    text-align: center;
    padding: 1%;
    width: 40%;
    background: rgba(102, 105, 102, 0.3);
    border-radius: 3%;
    height: 100%;
}

.contenedor button[type="submit"] {
    font-size: 17px;
    width: 20%;
    height: 40px;
}

.contenedor input[type="text"] {
    margin: 2%;
    width: 350px;
    height: 15px;
}

.contenedor input[type="radio"] {
    background-color: aqua;
    cursor: pointer;
}

.contenedor select {
    margin: 2%;
    width: 360px;
    height: 30px;
}

.contenedor li {
    margin: 2%;
    margin-bottom: 2%;
    width: 360px;
    list-style: none;
}

.contenedor li button {
    margin-right: 10px;
    border-radius: 2px;
}

.contenedor .error {
    color: red;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.664);
}

.countriesSelected {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
}
