
.contenedor {
    display: inline-block;
    text-align: center;
    padding: 1%;
    background: rgba(102, 105, 102, 0.3);
    border-radius: 3%;
    height: 300px;
}

.input {
    width: 70%;
    height: 25px;
}

.activity{
    margin-top: 2%;
}

.checkboxContainer{
    padding-left: 35px;
    cursor: pointer;
}

.countriesSelected{
    text-decoration: none;
}


