@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.contenedor {
    text-align: center;
    @include flex(center, center, row);
    @include size(50%, 100%);
    padding: 2%;
    background: $green;
    border-radius: 3%;
    margin: auto;

    h2 {
        padding: 3%;
    }

    .season,
    .diffi,
    .duration,
    .country {
        float: left;
        width: 100%;
        margin-top: 6px;

        label {
            text-align: start;
            width: 80px;
        }
    }

    .act {
        float: left;
        width: 96%;
        margin-top: 6px;
        margin-bottom: 6px;

        input {
            border: none;
            border-radius: 8px;
            width: 50%;
        }

        label {
            width: 100px;
            text-align: start;
        }
    }

    select {
        margin: 2%;
        @include size(50%, 30px);
    }

    button[type="submit"] {
        font-size: 17px;
        @include size(25%, 40px);
        border-radius: 10px;
        border: none;
        color: $white;
        background-color: $lightGreen;
        cursor: pointer;

        &:hover {
            background-color: $white;
            color: $lightGreen;
        }
    }

    .error {
        color: $red;
        text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.664);
    }

    li {
        width: 360px;
    }

    .countriesSelected {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        margin-right: auto;
        margin-left: auto;

        button[type="button"] {
            font-size: 17px;
            width: 30%;
            border-radius: 10px;
            margin-left: 5px;
            border: none;
            color: $white;
            background-color: $darkGreen;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 700px) {
    .contenedor {
        width: 80%;
        @include flex(center, center, row);

        h2 {
            padding: 4%;
            font-size: large;
        }

        label,
        input {
            @include flex(center, center, row);
            font-size: small;
        }

        input[type="text"] {
            width: 40%;
        }

        select {
            font-size: small;
            width: 70%;
        }

        button[type="submit"] {
            width: 20%;
            font-size: 12px;
            cursor: pointer;
        }

        .act {
            @include flex(center, center, column);
            width: 100%; 
        }

        .season,
        .diffi,
        .duration,
        .country {
            @include flex(center, center, column);

            select {
                width: 40%;
            }
        }
    }

    .countriesSelected {
        display: grid;
        grid-template-columns: 20% 20% 20%; 
        font-size: 12px;

        button {
            font-size: 12px;
            width: 30%;
            border-radius: 10px;
            border: none;
            color: $white;
            background-color: $darkGreen;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 700px) and (orientation: landscape){
    .contenedor {
        width: 60%;
        @include flex(center, center, row);

        h2 {
            padding: 4%;
            font-size: large;
        }

        label,
        input {
            @include flex(center, center, row);
            font-size: small;
        }

        input[type="text"] {
            width: 40%;
        }

        select {
            font-size: small;
            width: 70%;
        }

        button[type="submit"] {
            width: 20%;
            font-size: 12px;
            cursor: pointer;
        }

        .act {
            @include flex(center, center, column);
            width: 100%; 
        }

        .season,
        .diffi,
        .duration,
        .country {
            @include flex(center, center, column);

            select {
                width: 40%;
            }
        }
    }

    .countriesSelected {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        font-size: 12px;

        button {
            font-size: 12px;
            width: 30%;
            border-radius: 10px;
            border: none;
            color: $white;
            background-color: $darkGreen;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .contenedor {
        width: 60%;
        @include flex(center, center, row);

        h2 {
            padding: 4%;
            font-size: large;
        }

        label,
        input {
            @include flex(center, center, row);
            font-size: small;
        }

        input[type="text"] {
            width: 50%;
        }

        select {
            font-size: small;
            width: 70%;
        }

        button[type="submit"] {
            width: 20%;
            font-size: 12px;
            cursor: pointer;
        }

        .act {
            @include flex(center, center, column);
            width: 100%; 
        }

        .season,
        .diffi,
        .duration,
        .country {
            @include flex(center, center, column);

            select {
                width: 50%;
            }
        }
    }

    .countriesSelected {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        font-size: 12px;

        button {
            font-size: 12px;
            width: 30%;
            border-radius: 10px;
            border: none;
            color: $white;
            background-color: $darkGreen;
            cursor: pointer;
        }
    }
}
