@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.containerCountry {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-column-gap: 20px;
    justify-content: center;

    .card {
        background: $green;
        @include size(100%, 200px);
        text-align: center;
        cursor: pointer;
        color: $white;
        margin: 2%;
        padding-top: 4%;
        border-radius: 3%;
        box-shadow: 10px 10px 5px -4px rgba(36, 36, 36, 0.81);

        &:hover {
            background-color: rgba(255, 255, 255, 0.178);
            cursor: url("../images/airplane.png"), auto;
        }

        img {
            border: 1px solid $lightGrey;
            border-radius: 4px;
            padding: 5px;
            @include size(150px, 100px);
        }

        a {
            padding: 1%;
            text-decoration: none;
            color: $white;
        }

        p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .containerCountry {
        @include flex(center, center, column);
        .card {
            width: 300px;
            p {
                font-size: medium;
            }
        }
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        .filter {
            select {
                font-size: small;
            }
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .containerCountry {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-column-gap: 20px;
        justify-content: center;
        .card {
            width: 300px;
            p {
                font-size: medium;
            }
        }
    }
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;

    .filter {
        margin-right: 1%;
    }
}
