@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.topnav {
    margin-bottom: 2%;
    @include flex(center, space-around, row);
    background-color: $darkBlue;

    .img {
        padding-top: 2px;
        padding-bottom: 2px;
        &:hover {
            cursor: url("../images/airplane.png"), auto;
        }
    }

    .home {
        color: $white;
        font-size: 22px;
        &:hover {
            cursor: url("../images/airplane.png"), auto;
            text-decoration: none;
        }

    }

    .activity {
        color: $white;
        font-size: 22px;
        text-decoration: none;
    }

    .pathActivity {
        display: flex;
        width: 55%;

        .home {
            margin: auto;
            font-size: 22px;
        }
    }

    input {
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        font-size: 15px;
        border-radius: 20px;
        box-shadow: 10px 10px 5px -4px rgba(36, 36, 36, 0.81);
    }

    .search {
        .submit {
            color: $grey;
            position: relative;
            top: 2px;
            left: -23px;
            margin: 0 auto;
        }
    }
}

.error {
    color: $red;
    font-size: 20px;
    @include flex(center, center, row);
}

@media (max-width: 1000px) {
    .topnav {
        @include flex(center, space-around, row);
        .activity {
            font-size: medium;
        }

        .img {
            width: 50px;
        }

        .home {
            width: 50px;
            color: $white;
            font-size: medium;
        }

        input {
            font-size: small;
            width: 100px;
            height: 25px;
        }

        .pathActivity {
            .home {
                font-size: medium;
            }
        }
    }
}
